* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    background-color: #f7f8fb;
}
header {
    background-color: #007bff;
    color: #fff;
    padding: 15px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    font-weight: 600;
}
nav a:hover {
    color: red;
}
.content {
    margin: 45px 0;
}
footer {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
footer :hover{
    color:blue;
}
footer p {
    font-size: 0.9rem;
    font-weight:500;
}
.hero {
    background: url('https://via.placeholder.com/1200x300') no-repeat center center/cover;
    height: 300px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hero h1 {
    font-size: 3rem;
    font-weight: 600;
    width:100%;
}